body {
    margin: 0;
    padding: 0;
    background-color: #87ceeb; /* Цвет фона */
    font-family: Arial, sans-serif; /* Шрифт */
}

canvas {
    display: block;
    margin: 0 auto;
    border: 2px solid #333; /* Цвет границы игрового экрана */
}
